ESP32CAM/.pio
ESP32CAM/.vscode/.browse.c_cpp.db*
ESP32CAM/.vscode/c_cpp_properties.json
ESP32CAM/.vscode/launch.json
ESP32CAM/include/wificredentials.hpp

ESP32Pilot/.pio
ESP32Pilot/.vscode/.browse.c_cpp.db*
ESP32Pilot/.vscode/c_cpp_properties.json
ESP32Pilot/.vscode/launch.json
ESP32Pilot/.vscode/ipch
ESP32Pilot/include/wificredentials.hpp

ESP32Sensors/.pio
ESP32Sensors/.vscode/.browse.c_cpp.db*
ESP32Sensors/.vscode/c_cpp_properties.json
ESP32Sensors/.vscode/launch.json
ESP32Sensors/.vscode/ipch
ESP32Sensors/include/wifi*

GUIappThes/.vscode
GUIappThes/GuiEsp32/graphics
GUIappThes/GuiEsp32/obj
GUIappThes/GuiEsp32/global.json
GUIappThes/GuiEsp32/GuiEsp32*
GUIappThes/GUIappThes.sln