ESP32CAM/.pio
ESP32CAM/.vscode
ESP32CAM/include/wificredentials.hpp

ESP32Pilot/.pio
ESP32Pilot/.vscode
ESP32Pilot/include/wificredentials.hpp

ESP32Sensors/.pio
ESP32Sensors/.vscode
ESP32Sensors/include/wifi*

ESPGUI/.vscode
ESPGUI/graphics
ESPGUI/obj
ESPGUI/global.json
ESPGUI/GuiEsp32*
ESPGUI/ESPGUI*

.vscode
.gitignore